/* General styles */
* { 
    margin: 0; 
    padding: 0; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    }
html {
    font-size: 20px;
}
a {
    text-decoration: none;
    color:#6d5adc;
}
a:hover {
    cursor: pointer;
}

body {
    font-family: 'Slabo 27px', serif;
    margin-left: auto;
    margin-right: auto;
    color: #524d54;
    font-size: 1rem;
}
h1,h2,h3,h4,h5,h6,a { margin:0; }

#content-wrapper {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

div.container {
    padding: 0px 60px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.top-space {
    height: 120px;
    width: 100%;
}
.tab { margin-left: 20px; }
.title {
    display: block;
    margin: 0px 0px 60px 60px;
    width: 100%;
}
p {
    padding: 5px 0px;
}
h1.title {
    margin-top: 30px;
}
.half-width {
    width: 50%;
    padding-top: 24.5px;
    min-width: 300px;
}

/* Top  nav settings */

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    background-color:  #6d5adc;
    color: #f4f4f3;
}

.top-nav { position: absolute; }

.top-nav li { 
    display: inline-block;
    padding: 0px 30px;
    font-size: 1.2rem;
    font-family: 'Slabo 27px', serif;
}

.top-nav.homepage {
    margin: 10px;
    position: absolute;
    top: 10px;
}
.top-nav.homepage a { color:#f4f4f3; }

.top-nav.not-homepage a {
    color: #524d54; margin-top: 50px;
}
.top-nav.not-homepage {
    margin: 40px;
    position: absolute;
    top: 30px;
}

a.top-name {
    color: #524d54;
    font-size: 2rem;
}
.top-name {
   position: absolute;
   text-align: center;
    padding: 10px 10px 30px;
    width: 100%;
}

li {
    list-style-type: none;
    text-align: center;
}
.active {
    border: solid #6d5adc;
    border-width: 0px 0px 5px 5px;
}
.name2 { margin-top: 5px; }



/* Interactivity */

#advice {
    margin-top: 60px;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    height: 60px;
    width: 150px;
    border: none;
    border-radius: 20px;
    background-color: #f4f4f3;
    text-align: center;
    text-justify: center;
    color: #6d5adc;
    font-size: 16px;
    padding: 0px 10px;
    margin: 0px 30px;
}

#sentence {
    width: 75%;
    height: 40px;
    display: block;
    margin-top: 50px;
}
#empty {
    font-weight: bold;
    display: flex;
    justify-content: center;
}

/* About me */
 .picture {
    width: 40%;
    min-width: 300px;
    align-self: center;
}



/* Experience */

.skills.container {
    display: inline-flex;
    flex-direction: column;
}

.activity {
    width: 33%;
    border: solid 5px #6d5adc;
    padding: 20px;
    height: 400px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prehover img {
    width: 100%;
    object-fit: cover;
    max-height: 200px;
    opacity: 0.5; 
}

.act-title  {
    border: solid 3px #6d5adc;
    border-radius: 10px;
    padding: 5px;
    height: 100px;
    display: flex;
    align-items: center;
}
.prehover {
    transition-duration: 0.5s;
}

.posthover a, #contact a {
    padding: 5px;
    display: inline;
}
 .posthover {
    width: 100%;
    height: 400px;
    padding: 20px;
    object-fit: contain;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left :0;
    top: 0;
    opacity: 0;
    z-index: 1;
    transition-duration: 0.5s;
}

.posthover:hover {
   opacity: 1;
}

.posthover:hover ~ .prehover {
   opacity: 0.05;
}

/* Contact */
#colorado {
    width: 50%;
}

#contact { font-size: 24px;}

/* Media queries */

@media only screen and (max-width: 538px) {
    /* To-do: turn this into toggle menu
put more space above advice sentence
less space between title and text
 */

    .top-nav li { 
        padding: 0px 18px;
    }
    .top-space.homepage {
        height: 30px;
    }

    #advice {
        flex-direction: column;
    }
    button {
        min-height: 56px;
        font-size: 0.8rem;
        padding: 10px;
        margin: 10px;
    }
    
    #sentence { margin-top: 30px;}
 

}

@media only screen and (max-width: 725px) {
    html {
        font-size: 16px;
    }
    .title {
        margin: 0px 0px 20px 20px;
    }
    div.container {
        padding: 0px 20px 20px;
    }
    .half-width {
        width: 100%;
    }

    #activities {
        display: flex;
        flex-direction: column;
    }
    .activity {
        width: 80%;
    }
}

















