/* General styles */

body {
    background-color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: #003568;
    margin-left: auto;
    margin-right: auto;
}
h1, h2 {
    font-weight: 400;
}
div.container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    max-width: 1310px !important;
    justify-content: space-between;
}
.separator {
    width: 100%;
    height: 100px;
    background-color: #617b76;
}
.title {
    display: block;
    padding: 10px 60px;
    background: linear-gradient(90deg, #7fc99e 0%, #ffffff 40%) ;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Fira Sans', sans-serif;
    color: #27292e;
}
.top-space {
    height: 70px;
    width: 100%;
}
.tab {
    margin-left: 20px;
}

/* Top  nav settings */

header {
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #dadfe3;
}
header > h1 {
    margin: 10px 30px 0px;
    font-size: 24px;
}
header > h2 {
    margin: 5px 30px;
    font-size: 20px;
}
.top-nav {
    height: 60px;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg, #ffffff 0%, #7fc99e 15%, #ffffff 33%, #7fc99e 50%,
     #ffffff 67%, #7fc99e 85%, #ffffff 100%);
    color: #dadfe3;
}
.top-nav a {
color: #27292e;
text-decoration: none;
font-family: 'Fira Sans', sans-serif;
font-weight: normal;
}
a:hover {
    cursor: pointer;
}
.name1 {
    padding: 60px 30px 0px;
    margin: 5px;
}
.name2 {
    padding: 0px 60px;
    margin: 0px;
    font-weight: 400;
}

/* Interactivity */

#advice {
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button, button:active, button:focus {
    height: 60px;
    width: 250px;
    background-color: #003568;
    color:#dadfe3;
    font-size: 14px !important;
    font-weight: bold;
}
#sentence {
    width: 75%;
    height: 40px;
    display: block;
    margin-top: 20px;
}
#empty {
    font-weight: bold;
    display: flex;
    justify-content: center;
}

/* About me */
 #selfie {
    width: 30%;
    align-self: center;
}

#education {
    width: 30%;
}

#about-text {
    width: 30%;
}

.header {
    width: 100%;
    padding-bottom: 20px;
}

/* Experience */

.skills.container {
    justify-content: space-around;
}

.activity {
    width: 25%;
    border: solid black;
    padding: 20px;
    height: 350px;
    text-align: center;
    align-items: center;
    background-color: #ffffff;
    position: relative;
    display: flex;
}

.prehover img {
    width:100%;
    object-fit: contain;
}
.prehover {
    transition-duration: 0.5s;
}

.posthover a {
    text-decoration: none;
    padding: 5px;
    border: solid black;
    border-radius: 10px;
    font-weight: bold;
    display: inline;
}
 .posthover {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    left :0;
    top: 0;
    opacity: 0;
    z-index: 1;
    transition-duration: 0.5s;
}

.posthover:hover {
   opacity: 1;
}

.posthover:hover ~ .prehover {
   opacity: 0.05;
}








